<h1>Rails RESTful API with Grape</h1>
<p><b>GET</b> /api/v1/store_datum.json</p>
<p><b>POST</b> /api/v1/store_datum.json</p>
<p><b>PUT / DELETE</b> /api/v1/store_datum/id.json</p>

Store attributes : name, description, category, url

Example:
<pre>
  {
    'name': 'Store Name',
    'description': 'Store Description',
    'category': 'Store Category',
    'url': 'Store URL'
  }
</pre>
